## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ushuaia,AR,-54.8000,-68.3000,44.26,81,75,10.36,light intensity drizzle
1,1,Javanrud,IR,34.7961,46.5172,45.09,57,0,5.48,clear sky
2,2,Bredasdorp,ZA,-34.5322,20.0403,58.32,67,57,2.30,broken clouds
3,3,Piacabucu,BR,-10.4056,-36.4344,79.57,82,96,11.92,heavy intensity rain
4,4,Barrow,US,71.2906,-156.7887,12.22,79,40,12.66,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 55
What is the maximum temperature you would like for your trip? 75

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Bredasdorp,ZA,-34.5322,20.0403,58.32,67,57,2.30,broken clouds
10,10,Ahipara,NZ,-35.1667,173.1667,67.23,66,2,1.92,clear sky
14,14,Antofagasta,CL,-23.6500,-70.4000,63.68,74,26,9.62,scattered clouds
16,16,Te Anau,NZ,-45.4167,167.7167,61.03,51,80,1.70,broken clouds
20,20,Saint-Philippe,RE,-21.3585,55.7679,72.21,84,38,8.77,scattered clouds
25,25,New Norfolk,AU,-42.7826,147.0587,56.75,59,50,3.29,scattered clouds
27,27,Pacific Grove,US,36.6177,-121.9166,70.61,75,1,1.99,clear sky
36,36,Hermanus,ZA,-34.4187,19.2345,57.90,73,20,5.06,few clouds
39,39,Arraial Do Cabo,BR,-22.9661,-42.0278,73.26,64,75,9.22,broken clouds
41,41,Jardim,BR,-21.4803,-56.1381,72.55,79,100,7.29,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             233
City                   233
Country                229
Lat                    233
Lng                    233
Max Temp               233
Humidity               233
Cloudiness             233
Wind Speed             233
Current Description    233
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

preferred_cities_df.dropna()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Bredasdorp,ZA,-34.5322,20.0403,58.32,67,57,2.30,broken clouds
10,10,Ahipara,NZ,-35.1667,173.1667,67.23,66,2,1.92,clear sky
14,14,Antofagasta,CL,-23.6500,-70.4000,63.68,74,26,9.62,scattered clouds
16,16,Te Anau,NZ,-45.4167,167.7167,61.03,51,80,1.70,broken clouds
20,20,Saint-Philippe,RE,-21.3585,55.7679,72.21,84,38,8.77,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
660,660,Pingyi,CN,35.5006,117.6308,58.33,92,99,8.97,moderate rain
665,665,Rongcheng,CN,30.6340,117.8517,62.11,96,92,1.97,light rain
670,670,Kabompo,ZM,-13.5927,24.2008,69.57,33,26,2.59,scattered clouds
675,675,Navirai,BR,-23.0650,-54.1906,73.72,89,26,6.31,scattered clouds
677,677,Burnie,AU,-41.0667,145.9167,55.58,52,0,9.66,clear sky

In [7]:
clean_df = preferred_cities_df.dropna()

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Bredasdorp,ZA,58.32,broken clouds,-34.5322,20.0403,
10,Ahipara,NZ,67.23,clear sky,-35.1667,173.1667,
14,Antofagasta,CL,63.68,scattered clouds,-23.6500,-70.4000,
16,Te Anau,NZ,61.03,broken clouds,-45.4167,167.7167,
20,Saint-Philippe,RE,72.21,scattered clouds,-21.3585,55.7679,
25,New Norfolk,AU,56.75,scattered clouds,-42.7826,147.0587,
27,Pacific Grove,US,70.61,clear sky,36.6177,-121.9166,
36,Hermanus,ZA,57.90,few clouds,-34.4187,19.2345,
39,Arraial Do Cabo,BR,73.26,broken clouds,-22.9661,-42.0278,
41,Jardim,BR,72.55,overcast clouds,-21.4803,-56.1381,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame

for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
     # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    #print(hotel_df.loc[index, "Hotel Name"])
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping")

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Bredasdorp,ZA,58.32,broken clouds,-34.5322,20.0403,Bredasdorp Country Manor
10,Ahipara,NZ,67.23,clear sky,-35.1667,173.1667,Ahipara Holiday Park
14,Antofagasta,CL,63.68,scattered clouds,-23.6500,-70.4000,"Holiday Inn Express Antofagasta, an IHG Hotel"
16,Te Anau,NZ,61.03,broken clouds,-45.4167,167.7167,Kingsgate Hotel Te Anau
20,Saint-Philippe,RE,72.21,scattered clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
...,...,...,...,...,...,...,...
660,Pingyi,CN,58.33,moderate rain,35.5006,117.6308,Yiranju Hotel
665,Rongcheng,CN,62.11,light rain,30.6340,117.8517,Shell Shandong Liaocheng Development District ...
670,Kabompo,ZM,69.57,scattered clouds,-13.5927,24.2008,Big Tree
675,Navirai,BR,73.72,scattered clouds,-23.0650,-54.1906,Dubai Hotel - Também sua casa!
677,Burnie,AU,55.58,clear sky,-41.0667,145.9167,Beachfront Voyager Motor Inn

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "Weather_Py_Vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.75)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))