## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/Weather_Py_vacation.csv")
vacation_df.head()
#donor_data = "Resources/donors2008.csv"

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Bredasdorp,ZA,58.32,broken clouds,-34.5322,20.0403,Bredasdorp Country Manor
1,10,Ahipara,NZ,67.23,clear sky,-35.1667,173.1667,Ahipara Holiday Park
2,14,Antofagasta,CL,63.68,scattered clouds,-23.6500,-70.4000,"Holiday Inn Express Antofagasta, an IHG Hotel"
3,16,Te Anau,NZ,61.03,broken clouds,-45.4167,167.7167,Kingsgate Hotel Te Anau
4,20,Saint-Philippe,RE,72.21,scattered clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and High Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.75)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Asyut"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Asyut"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Matay"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Alexandria"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Jalu"]  
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
184,551,Asyut,EG,69.98,clear sky,27.181,31.1837,Florence Hotel Assiut

In [8]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0, 5:7].to_numpy()
end = vacation_end.iloc[0, 5:7].to_numpy()
stop1 = vacation_stop1.iloc[0, 5:7].to_numpy()
stop2 = vacation_stop2.iloc[0, 5:7].to_numpy()
stop3 = vacation_stop3.iloc[0, 5:7].to_numpy()
end

array([27.181, 31.1837], dtype=object)

In [35]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30, 45), zoom_level = 5)
start = Asyut 
end = Asyut
stop1 = Matay
stop2 = Alexandria
stop3 = Jalu

roadtrip = gmaps.directions_layer(asyut, asyut, 
                                  waypoints=[matay, alexandria, jalu],
                                  travel_mode="DRIVING")

fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,551,Asyut,EG,69.98,clear sky,27.1810,31.1837,Florence Hotel Assiut
1,655,Matay,EG,71.80,clear sky,28.4190,30.7792,Nag Aespen
2,607,Alexandria,EG,71.56,clear sky,31.2156,29.9553,Royal Crown Hotel
3,128,Jalu,LY,70.27,clear sky,29.0331,21.5482,صاحبة الفخامة

In [37]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and High Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [38]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(roadtrip)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))